*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body{
  font-family: 'Helvetica', sanss-serif;
  line-height: 1.6;
}

ul{
  list-style:none;
}

main{
  margin:auto;
  background-color: gray;
  padding:3rem 2rem;
  width: 50rem;
}

form {
  padding: 2rem;
  background:#f4f4f4;
}

form label {
  display: block;
}

form input[type='text']{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px;
}

.btn{
  background-color:#333;
  color: white;
  padding: 15px 15px;
  margin: 5px 0;
  width: 100px;
  display: block;
  border-radius: 5px;
  border: 0;
  
}

//javascript created class
.error{
  background-color: orangered;
  color: white;
  margin: 20px;
  padding: 10px;
}


